{% extends "app.twig" %}

{% block content %}
    <section id="front-slider">
        {% for item in slides %}
        <div class="item">
            <img class="img-responsive" src="/assets/userfiles/slides/{{ item.image }}" alt="{{ item.title }}">
            <div class="text-cont">
                <div class="title">{{ item.title }}</div>
                <div class="subtitle">{{ item.subtitle }}</div>
                <div class="line"></div>
            </div>
        </div>
        {% endfor %}
    </section>
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="entry-title">Топ нерухомість</h2>
                </div>
            </div>
        </div>
    </div>
    <section id="latest-top">
        <div class="container">
            <div class="col-sm-7">
                <div class="tab-content">
                    {% for key,item in top_estates %}
                    <div role="tabpanel" class="tab-pane fade  {% if key == 0 %}in active {% endif %}" id="item-{{ item.id }}">
                        <div class="field-photo">
                            <a href="/estate/{{ item.id }}">
                                {% if item.photos %}
                                    <img src="/assets/userfiles/photo/{{ item.photos.0.image }}" alt="{{ item.title }}">
                                {% else %}
                                    <img src="/assets/userfiles/default.png" alt="{{ item.title }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="field-title">
                            <a href="/estate/{{ item.id }}">
                                {{ item.title }}
                            </a>
                        </div>
                        <div class="field-district">
                            <span class="maylabel">
                                Район:
                            </span>
                            <span class="val">
                                {{ item.district.title }}
                            </span>
                        </div>
                        <div class="field-address">
                            <span class="maylabel">
                                Адреса:
                            </span>
                            <span class="val">
                                {{ item.address }}
                            </span>
                        </div>
                        <div class="field-type">
                            <span class="maylabel">
                                Тип:
                            </span>
                            <span class="val">
                                {{ item.type }}
                            </span>
                        </div>
                        <div class="field-price">
                            <span class="maylabel">
                                Ціна:
                            </span>
                            <span class="val">
                                {{ item.price |number_format(2,'.',',') }} <span>{{ item.currency }}</span>
                            </span>
                        </div>
                        <div class="field-description">
                            {{ item.description | raw }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-5">
                <ul class="nav nav-tabs" role="tablist">
                    {% for key,item in top_estates %}
                    <li role="presentation" class="{% if key == 0 %}active {% endif %}">
                        <a href="#item-{{ item.id }}" aria-controls="item-{{ item.id }}" role="tab" data-toggle="tab">
                            <span class="nolink-photo">
                                {% if item.photos %}
                                <img src="/assets/userfiles/photo/{{ item.photos.0.image }}" alt="{{ item.title }}">
                                {% else %}
                                    <img src="/assets/userfiles/default.png" alt="{{ item.title }}">
                                {% endif %}
                            </span>
                            <span class="nolink-title">
                                {{ item.title }}
                            </span>
                            <span class="nolink-price">
                                    {{ item.price |number_format(2,'.',',') }} <span>{{ item.currency }}</span>
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
